PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.rrqkzdb.mongodb.net/pos_system?retryWrites=true&w=majority
ADMIN_EMAIL=admin@pos.com
ADMIN_PASSWORD=Admin@123
ADMIN_PHONE=1234567890
JWT_SECRET=your_super_secret_jwt_key
